.subreddit-page {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}

.subreddit-page>header {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Goudy Bookman 1911', serif;
    background-position: center;
    background-repeat: repeat-x;
    background-size: auto 100%;
}

.post-preview {
    border-top: 1px black solid;
    padding: 10px;
    font-family: 'Average Sans', sans-serif;
}

.post-preview>footer {
    display: flex;
    justify-content: space-between;
}