.subreddit-page {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 93%);
    line-height: normal;
}


/* Header Section */

.subreddit-header {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-position: center;
    background-repeat: repeat-x;
    background-size: auto 100%;
    flex-shrink: 0;
    border-bottom: 1px solid hsl(0, 0%, 80%);
}

.subreddit-header a {
    text-decoration: none;
}

.subreddit-header h1 {
    font-family: 'Goudy Bookman 1911', serif;
    font-size: 32px;
    color: hsl(0, 0%, 20%);
    background-color: hsla(0, 0%, 100%, 1);
    padding: 12px 40px;
    border-radius: 5px;
    border: 4px solid hsl(0, 0%, 20%);
    box-shadow: 0 0 1px 4px hsla(0, 0%, 100%, 1);
}


/* Post Section */

.subreddit-posts {
    width: 100%;
    max-width: 700px;
    word-break: break-word;
}

@media only screen and (min-width: 500px) {
    .subreddit-posts {
        padding: 0 12px;
    }
}

.search-message {
    padding: 10px 10px 5px;
    color: hsl(0, 0%, 35%);
    font-style: italic;
    text-align: left;
}

.clear-search {
    color: hsl(0, 0%, 35%);
    margin: 0 10px;
}

.clear-search:hover {
    cursor: pointer;
}

.no-posts {
    text-align: center;
    padding: 40px;
}

.post-preview {
    display: flex;
    flex-direction: column;
    border-top: 1px solid hsl(0, 0%, 85%);
    border-bottom: 1px solid hsl(0, 0%, 85%);
    padding: 10px;
    font-family: 'Average Sans', sans-serif;
    background-color:hsl(0, 0%, 100%);
    margin: 12px 0;
    text-decoration: none;
}

@media only screen and (min-width: 500px) {
    .post-preview {
        border-left: 1px solid hsl(0, 0%, 80%);
        border-right: 1px solid hsl(0, 0%, 80%);
    }
}

.post-preview:hover {
    border-color: hsl(0, 0%, 55%);
}

.post-preview>header {
    color: hsl(0, 0%, 60%);
    font-size: 14px;
}

.post-preview>h2 {
    color: hsl(0, 0%, 0%);
    margin: 10px 0;
    font-size: 18px;
}

.post-preview>footer {
    display: flex;
    justify-content: space-between;
    color: hsl(0, 0%, 60%);
    font-size: 14px;
}