.search {
    display: flex;
    background-color: hsl(0, 0%, 90%);
    align-items: center;
    height: 36px;
    border-radius: 18px;
    width: 80%;
    max-width: 250px;
    outline: none;
    transition: all 0.2s ease;
}

@media (hover: hover) {
    .search:hover {
        background-color: hsl(0, 0%, 100%);
        box-shadow: 0 0 0 1px hsl(0, 0%, 75%);
        border-radius: 18px;
        transform: translateZ(0);
    }
}

.search.focus {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 0 1px hsl(0, 0%, 75%);
    border-radius: 18px;
    transform: translateZ(0);
}

.search input {
    border: none;
    background-color: transparent;
    flex: 1;
    min-width: 0;
    font-size: 16px;
}

.search input:focus {
    outline: none;
}

.search button {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
}

.search svg {
    font-size: 16px;
    margin: 0 10px;
    color: hsl(0, 0%, 60%);
    transition: all 0.2s ease;
}

@media (hover: hover) {
    .search svg:hover {
        cursor: pointer;
        color: hsl(0, 0%, 50%);
    }
}

.search svg:active {
    color: hsl(0, 0%, 30%);
}