.home {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('./images/brittney-weng-PGZ1BuBAw3E-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: calc(4vh) 50px 0;
    height: calc(50vh - 15vw);
    background: linear-gradient(hsla(0, 0%, 0%, 0.5) 75%, hsla(0, 0%, 100%, 0) 100%);
}

.home h1 {
    font-size: calc(40px + 0.8vw);
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: 800;
    margin-bottom: 20px;
    color: white;
    text-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.5);
    letter-spacing: 2px;
}

.home p {
    color: white;
    text-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.5);
    font-size: calc(17px + 0.3vw);
}

.home em {
    font-style: italic;
    text-shadow: -2px 0px 4px hsla(344, 75.5%, 40%);
}