/* Universal */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* Navbar */

.main-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    z-index: 100;
    background-color: hsl(0,0%,100%);
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
    box-shadow: 0 0 4px 0 hsla(0, 0%, 0%, 0.2)
}

.main-menu>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}


/* Home Icon */

.home-icon {
    height: 21px;
    width: 21px;
    margin: 8px;
    color: hsl(213, 81.3%, 21%);
    border-radius: 50%;
}

.home-icon:hover {
    color: hsl(213, 30%, 50%);
}

.home-icon:active {
    color: hsl(213, 20%, 40%);
}

/* Hamburger Icon */

.hamburger-icon {
    height: 21px;
    width: 21px;
    padding: 8px;
    color: hsl(344, 75.5%, 40%);
    border-radius: 50%;
}

.hamburger-icon:hover {
    background-color: hsla(0, 0%, 0%, 0.1);
    cursor: pointer;
}

.hamburger-icon.open {
    background-color: hsla(0, 0%, 0%, 0.2);
}

.hamburger-icon:active {
    background-color: hsla(0, 0%, 0%, 0.15);
}