/* Universal */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* Navbar */

.main-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    z-index: 100;
    background-color: hsl(0,0%,100%);
    box-shadow: 0 2px 4px 4px hsla(0, 0%, 0%, 0.2);
}

.main-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}


/* Home Icon */

.home-icon {
    height: 21px;
    width: 21px;
    margin: 10px;
    color: hsl(213, 81.3%, 21%);
    border-radius: 50%;
}

.home-icon:hover {
    color: hsl(213, 35%, 35%);
}

.home-icon:active {
    color: hsl(213, 20%, 40%);
}

/* Hamburger Icon */

.hamburger-icon {
    height: 21px;
    width: 21px;
    padding: 10px;
    color: hsl(344, 75.5%, 40%);
    border-radius: 50%;
}

.hamburger-icon:hover {
    background-color: hsla(0, 0%, 0%, 0.1);
    cursor: pointer;
}

.hamburger-icon.open {
    background-color: hsla(0, 0%, 0%, 0.2);
}

.hamburger-icon:active {
    background-color: hsla(0, 0%, 0%, 0.15);
}


/* Dropdown Menu */

.dropdown-menu {
    position: fixed;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 0;
    overflow-y: auto;
    display: block;
    background-color: hsl(0,0%,100%);
    z-index: 90;
}

.dropdown-menu.hide {
    display: none;
}


/* Dropdown Menu Links */

.post-link {
    display: grid;
    grid-template: 100% / 50px 1fr;
    align-items: center;
    justify-content: left;
    justify-items: left;
    padding: 10px 10px;
    text-decoration: none;
}

.post-link:hover {
    background-color: hsla(0, 0%, 0%, 0.1);
}

.post-link:active {
    background-color: hsla(0, 0%, 0%, 0.15);
}

.post-link img {
    height: 25px;
    justify-self: center;
}

.post-link p {
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif;
    color: hsl(0,0%,0%);
    font-size: 16px;
    font-weight: 900;
}