/* Nav */

.navbar nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    z-index: 100;
    background-color: hsl(0,0%,100%);
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
    box-shadow: 0 0 4px 0 hsla(0, 0%, 0%, 0.2)
}

.navbar > nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
}


/* Home Link */

.home-link {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: hsl(213, 81.3%, 21%);
    font-size: 16pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (hover: hover) {
    .home-link svg:hover {
            color: hsl(213, 30%, 50%);
        }
}

.home-link svg:active {
    color: hsl(213, 20%, 40%);
}


/* Subreddit List Button */

.subreddit-list-button {
    background: none;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: hsl(344, 75.5%, 40%);
    font-size: 16pt;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (hover: hover) {
    .subreddit-list-button:hover {
        background-color: hsla(0, 0%, 0%, 0.1);
        cursor: pointer;
    }    
}

.subreddit-list-button.open {
    background-color: hsla(0, 0%, 0%, 0.2);
}

.subreddit-list-button:active {
    background-color: hsla(0, 0%, 0%, 0.15);
}
