.subreddit-list {
    display: none;
}

.subreddit-list.open {
    display: block;
    position: fixed;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 10px;
    overflow-y: auto;
    background-color: hsl(0, 0%, 100%);
    z-index: 90;
}

@media only screen and (min-width: 500px) {
    .subreddit-list.open {
        top: 47px;
        width: 300px;
        right: 22px;
        bottom: 30px;
        max-height: 1000px;
        left: auto;
        z-index: 110;
        border: 1px solid hsla(0, 0%, 0%, 0.2);
        box-shadow: 0 0 4px 0 hsla(0, 0%, 0%, 0.2);
    }
}


/* Nav Links */

.subreddit-list a {
    display: grid;
    grid-template: 100% / 50px 1fr;
    align-items: center;
    justify-content: left;
    justify-items: left;
    padding: 10px 10px;
    text-decoration: none;
}

@media (hover: hover) {
    .subreddit-list a:hover {
        background-color: hsla(0, 0%, 0%, 0.1);
    }    
}

.subreddit-list a:active {
    background-color: hsla(0, 0%, 0%, 0.15);
}

.subreddit-list img {
    height: 25px;
    justify-self: center;
    box-shadow: 0 0 4px 0px hsla(0, 0%, 0%, 0.2);
}

.subreddit-list p {
    padding: 0 10px;
    font-family: 'Average Sans', sans-serif;
    color: hsl(0, 0%, 20%);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}