.post-page {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}

.post img {
    max-width: 60%;
    max-height: auto;
}

.post footer {
    display: flex;
    justify-content: space-between;
}

.comments li {
    padding: 10px;
    border-top: 1px solid black;
}